html,
body,
#root {
    margin: 0;
}

.flex-container {
    height: 300px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div {
    background: #daa520;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

section > div:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
}

section > div:nth-child(3) {
    margin-top: auto;
}

section > div:nth-child(4) {
    margin-top: auto;
    margin-bottom: auto;
}
